  html{
      scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Poppins', sans-serif;

  }
          .wrapper{
            width: 1170px;
            margin: 0 auto;
          }
          .logo{
            width: 20%;
            float: left;
            padding: 35px 0 0;
            font-size: 25px;
            font-weight: 700;
            color: #fff;
          }
          nav{
            width: 75%;
            float: right;
            text-align: right;
            padding: 20px 0 0;
          }
          
          .navigation{
            height: 60px;
          }
          .button{
            text-decoration: none;
            width: 150px;
            height:50px;
            border: none;
            font-size: 19px;font-family: 'Poppins', sans-serif;
            background-color: #005762;
            color: #fff;
            cursor: pointer;
          }
          .button a{
            text-decoration: none;
            color:inherit;
          }
          .back{
            background-color: #005762;
          height: 700px;
          }
          .text-area{
            text-align: center;
            width: 75%;
            margin: 0 auto;
          }
          .text-area h2{
            font-size: 75px;
            color: #fff;
            margin: 10% 0 0;
          }
          .text-area h3{
            color: #fff;
            margin: 0 0 15px;
            font-size: 35px;
          }
          .text-area a{
            text-decoration: none;
            background: #262626;
            color: #fff;
            padding: 15px 60px;
            font-size: 18px;
            display: inline-block;
            margin-top: 5%;
            border-radius: 50px;
            border-radius: 2em;
            transition: 0.3s ease-in-out;
            opacity: 0.7;
          }
          .text-area a:hover{
          transform: scale(1.1) ;
          opacity: 1;}

          .text-area p{
            font-size: 18px;
            color: #fff;
            width: 70%;
            margin: 0 auto;
            line-height:1.9;
          }

  .divider {
    height: 20px; 
    background-color: white; 
    border: none; 
}

              .port{
                margin: 0 auto;
                background-color: #005762;
                height: 700px;
                padding-top: 30px;
                
              }

              #portfolio header {
                  text-align: center;
                  margin-bottom: 30px;
                  color: #ccc;
              }
              #portfolio img {
                  max-width: 200px;
                  height: auto;
                  border-radius: 50%;
              }
              #portfolio table {
                  margin: 0 auto;
                  width: 50%;
                  border-collapse: collapse;
              }
              #portfolio th, td {
                  border: 1px solid #ccc;
                  padding: 10px;
                  text-align: center;
                  background-color: #ccc;
                  border: #262626;
              }
              #portfolio th {
                  background-color: #f4f4f4;
              }
              #portfolio #quali{
                  text-align: center;
                  color: #ccc;
              }
               #about{
                text-align: center;
                color: #ccc;
              }

              p{
                  font-size: 1.2 em;
                      margin: 50px;
                      text-align: center;
                      font-size: large;
                      color: #ccc;
              }

  #contact{
    background-color: #005762;
    padding: 10px;
  }

  #contact h1{
    text-align: center;
    color: #ccc;
  }

  #contact form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#contact fieldset {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
#contact legend {
    font-weight: bold;
}
#contact label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
#contact #subject{
    width: fit-content;
}
#contact input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
#contact button {
    background-color: #005762;
    color: white;
    border: none;
    cursor: pointer;
}
#contact button:hover {
    background-color: #45a049;
}
#contact .inline {
    display: inline-block;
    margin-right: 10px;
}